<div class="container-fluid ">
  <div class="row align-items-center">
    <div class="col-lg-2 d-none d-lg-block text-center p-0" style="background-color: #FD979F;">
      <img src="/IMG/BaryBelCuadros/5.png" alt="Bel" class="m-0" width="100%">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-md-block text-center p-0" style="background-color: #FD979F;">
      <img src="/IMG/BaryBelCuadros/1.png" alt="Bel" class="m-0" width="100%">
    </div>
    <div class="col-lg-4 col-md-6 text-center p-0" style="background-color: #84D8BB;">
      <img src="/IMG/BaryBelCuadros/9.png" alt="Bel" class="m-0" width="50%">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-md-block text-center p-0" style="background-color: #2D8D9D;">
      <img src="/IMG/BaryBelCuadros/13.png" alt="Bel" class="m-0" width="100%">
    </div>
    <div class="col-lg-2 d-none d-lg-block text-center p-0" style="background-color: #2D8D9D;">
      <img src="/IMG/BaryBelCuadros/2.png" alt="Bel" class="m-0" width="100%">
    </div>
  </div>
</div>

<!--<section style="background-color: #fdfcf3;">-->
<!--  <div class="container py-5 h-100">-->
<!--    <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--      <div class="col-lg-8 col-xl-6">-->
<!--        <div class="card rounded-3">-->
<!--          <img src="/IMG/IMG_0081.PNG"-->
<!--               class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"-->
<!--               alt="foto lab">-->
<!--          <div class="card-body p-4 p-md-5">-->
<!--            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registro de herramientas</h3>-->

<!--            <form class="px-md-2">-->
<!--              <div class="form-outline mb-4">-->
<!--                <input type="text" id="form3Example1q" class="form-control" />-->
<!--                <label class="form-label" for="form3Example1q">Matrícula</label>-->
<!--              </div>-->

<!--              <div class="row">-->
<!--                <div class="col-md-6 mb-4">-->
<!--                  <label for="startDate">Fecha de registro</label>-->
<!--                  <input id="startDate" class="form-control" type="date" />-->
<!--                  <span id="startDateSelected"></span>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="row">-->
<!--                <div class="col-md-6 mb-4">-->
<!--                  <label for="hora_inicio_pedido">Hora de registro</label>-->
<!--                  <input id="hora_inicio_pedido" class="form-control" type="time" />-->
<!--                  <span id="hora_inicio_seleccionada"></span>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="mb-4">-->
<!--                <select class="select">-->
<!--                  <option value="1" disabled>Nombre de la herramienta</option>-->
<!--                  <option value="2">Fresadora</option>-->
<!--                  <option value="3">Algo mas</option>-->
<!--                  <option value="4">Otro</option>-->
<!--                </select>-->

<!--              </div>-->


<!--              <div class="mb-4">-->
<!--                <select class="select">-->
<!--                  <option value="1" disabled>Cantidad</option>-->
<!--                  <option value="2">1</option>-->
<!--                  <option value="3">2</option>-->
<!--                  <option value="4">3</option>-->
<!--                </select>-->

<!--              </div>-->

<!--              <div class="row mb-4 pb-2 pb-md-0 mb-md-5">-->
<!--                <div class="col-md-6">-->

<!--                  <div class="form-outline">-->
<!--                    <input type="text" id="form3Example1w" class="form-control" />-->
<!--                    <label class="form-label" for="form3Example1w">Comentario (opcional)</label>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->

<!--              <button type="submit" class="btn btn-success btn-lg mb-1">Registrar</button>-->
<!--            </form>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<section style="background-color: #fdfcf3;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="/IMG/Fondo_Tec.png"
               class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
               alt="foto lab">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Reserva de máquinas</h3>

            <form class="px-md-2" action="/tools/reservationMaquina" method="POST">
              <div class="form-outline mb-4">
                <input type="text" id="form3Example1q" class="form-control" name="Matricula" />
                <label class="form-label" for="form3Example1q">Matrícula</label>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="startDate">Fecha de reservación</label>
                  <input id="startDate" class="form-control" type="date" name="Fecha_reserva" />
                  <span id="startDateSelected"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="hora_inicio_pedido">Hora de reservación</label>
                  <input id="hora_inicio_pedido" class="form-control" type="time" name="Hora_reserva" />
                  <span id="hora_inicio_seleccionada"></span>
                </div>
              </div>

              <!--              <div class="mb-4">-->
              <!--                <select class="select" name="ID_Herramienta">-->
              <!--                  {{#each tools}}-->
              <!--                    <option value="{{this.ID_Herramienta}}">{{this.Nombre}}</option>-->
              <!--                  {{/each}}-->
              <!--                </select>-->
              <!--              </div>-->
              <div class="mb-4">
                <select class="select" name="ID_Herramienta">
                  <option value="1" disabled="">Nombre de la máquina</option>
                  <option value="2">Fresadora</option>
                  <option value="3">Máquina de torno</option>
                  <option value="4">Máquina de taladro vertical</option>
                  <option value="5">Máquina rectificadora de superficies planas</option>
                  <option value="6">Otro</option>
                </select>
              </div>

              <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                <div class="col-md-6">

                  <div class="form-outline">
                    <input type="text" id="form3Example1w" class="form-control" />
                    <label class="form-label" for="form3Example1w">Comentario (opcional)</label>
                  </div>

                </div>
              </div>

              <button type="submit" class="btn btn-success btn-lg mb-1">Registrar</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid" style="background-color: #fdfcf3;">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
      <th>Matrícula</th>
      <th>Herramienta</th>
      <th>Hora Reserva</th>
      <th></th>
    </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML swap:1s">
    {{#each reservas}}
      <tr>
        <td>
          <p class="fw-normal mb-1">{{this.Matricula}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{this.ID_Maquina}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{this.Fecha_hora_reserva}}</p>
        </td>
        <td>
          <button type="button" class="btn btn-danger" hx-delete="/tools/reservationMaquina/{{this.ID}}">
            Regresar herramienta
          </button>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
